$white : #fff;
$title : 'Title';
$inter: "Inter", sans-serif;
$public : "Public Sans",
sans-serif;
$yello : rgb(166 200 76);
$darkgreen : rgb(85 154 70);
$linior : $yello,
$darkgreen;
$black :#000;
$dm : "DM Sans",
sans-serif;

// @font-face {
//     font-family: 'Title';
//     src: url('../images/HumbleSignation.ttf');
// }

body {
   font-family: var(--font-roboto), sans-serif;
}

Nav {

    ul {
        li {
            a {
                padding: 5px 25px !important;
                font-family: $dm;
                // letter-spacing: 3px;
                // color: rgba(255, 255, 255, .7) !important;
                text-transform: uppercase;
                color: $black !important;
                font-size: 16px !important;
                font-weight: 400 !important;

                &:hover {
                    color: $yello !important;
                }
            }
        }
    }

    .btn {



        font-family: $public;

        text-transform: uppercase;

        &:hover {
            color: $darkgreen;
        }

    }
}

.topbar {
    background: $black;
    padding: 5px 0;
    text-align: center;

    .description {
        font-family: $dm;
        font-size: 14px;
        font-weight: 300;

        margin: 0;
        color: $white;
    }
}

.navbar {
    background: $white !important;

    .bg-danger {
        background: $darkgreen !important;
        font-size: 12px;
        font-weight: 300;
        width: 25px;
        height: 25px;
        line-height: 25px;
        padding: 0;
    }

}

.home-banners {
    position: relative;
    background: #f8f8fa;

    .title {
        font-family: $inter;
        color: $darkgreen;
        margin-bottom: 15px;
        letter-spacing: -.5px;
        font-weight: 800;
        font-size: 60px;
    }

    .desciption {
        font-family: $public;
        color: $black;
        // letter-spacing: 3px;
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 25px;
    }

    .btn {
        font-weight: 600 !important;

        font-family: $public;
        color: $darkgreen;
        font-size: 18px;
        letter-spacing: 3px;
        text-transform: uppercase;
        border: 2px solid $darkgreen;
        border-radius: 0;
        padding-left: 25px;
        line-height: 36px;
        padding-right: 25px;

        &:hover {
            color: rgba(255, 255, 255, .7);
            border-color: rgba(255, 255, 255, .7);
        }
    }
}

.flatpickr-input.form-control {
  background-color: #fff;
  border-radius: 50px;
  padding: 10px 15px;
  border: 1px solid #ced4da;
  transition: all 0.2s ease;
}
.flatpickr-input.form-control:focus {
  border-color: #198754;
  box-shadow: 0 0 0 0.2rem rgba(25,135,84,.25);
}


.our-services {
    padding: 60px 0;
    position: relative;
    background: $black;

    .title {
        font-family: $public;
        // letter-spacing: 3px;
        font-size: 36px;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 50px;
        color: $yello;
    }

    .box {
        padding: 25px 0;
        position: relative;

        .sub-title {
            font-size: 16px;
            // letter-spacing: 3px;
            font-weight: 700;
            // text-transform: uppercase;   
            font-family: $public;
            color: $white;
        }

        display: flex;

        svg {
            width: 20px;
            margin-right: 15px;
        }

        .description {
            font-family: $public;
            font-size: 14px;
            color: rgba(255, 255, 255, .5);
            // letter-spacing: 2px;
            font-weight: 400;
        }
    }
}

.about-me {

    position: relative;
    list-style: none;
}